<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.MarketAddressMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.pojo.MarketAddress" >
    <id column="IDNO" property="idno" jdbcType="DECIMAL" />
    <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="ADDRESSDESC" property="addressdesc" jdbcType="VARCHAR" />
    <result column="POSTCODE" property="postcode" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="CREATEDBY" property="createdby" jdbcType="DECIMAL" />
    <result column="CREATIONDATE" property="creationdate" jdbcType="DATE" />
    <result column="MODIFYBY" property="modifyby" jdbcType="DECIMAL" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="DATE" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
  </resultMap>
  
</mapper>